<%= form_with(model: winemaker, local: true) do |form| %>
  <% if winemaker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(winemaker.errors.count, "error") %> prohibited this winemaker from being saved:</h2>

      <ul>
      <% winemaker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :nationality %>
    <%= form.text_field :nationality %>
  </div>

  <div class="field">
    <%= form.label :work %>
    <%= form.text_field :work %>
  </div>

  <!-- #Muestra en el formulario de people los guesses disponibles -->
  <div class="field" id="winemakers_magazines">
    <%= form.fields_for :winemakers_magazines do |ff| %>
      <%= render 'winemakers_magazine_fields', f: ff %>
    <% end %>
  </div>
  <!-- #crear una nueva guess - Formulario utilizado por cocoon-->
  <div class="links">
    <%= link_to_add_association 'Work', form, :winemakers_magazines %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
