<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @winemaker.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @winemaker.age %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @winemaker.nationality %>
</p>

<p>
  <strong>Work:</strong>
  <%= @winemaker.work %>
</p>

<%= link_to 'Edit', edit_winemaker_path(@winemaker) %> |
<%= link_to 'Back', winemakers_path %>
